#################
# EXPORTED
#################
#
export(onebasis,crossbasis,crosspred,crossreduce)
export(plot.crosspred,lines.crosspred,points.crosspred)
export(ps,cr)
export(cbPen)
export(smooth.construct.cb.smooth.spec,Predict.matrix.cb.smooth)
export(plot.crossreduce,lines.crossreduce,points.crossreduce)
export(summary.onebasis,summary.crossbasis,summary.crosspred,summary.crossreduce)
export(coef.crosspred,vcov.crosspred,coef.crossreduce,vcov.crossreduce)
export(logknots,equalknots)
export(exphist)
#
#
#################
# NOT EXPORTED BUT DOCUMENTED
#################
#
# poly,thr,strata,lin, integer
#
#################
# INTERNAL
#################
#
# DOCUMENTED
# checkcrossbasis,checkgroup,checkonebasis,fci,getcoef,getlink,getvcov,mkat,
# mkcen,mklag,mkXpred,seqlag,findrank,mkaddSlag
#
# NOT DOCUMENTED:
#.onAttach
#
#################
# IMPORTED
#################
#
import(stats,graphics,grDevices)
importFrom(utils,packageDescription)
importFrom(utils,modifyList)
importFrom(splines,ns)
importFrom(splines,bs)
importFrom(splines,splineDesign)
importFrom(nlme,fixef)
importFrom(tsModel,Lag)
importFrom(mgcv,s)
importFrom(mgcv,smooth.construct.cr.smooth.spec)
importFrom(mgcv,smooth.construct)
importFrom(mgcv,smoothCon)
importFrom(mgcv,tensor.prod.model.matrix)
importFrom(mgcv,Predict.matrix)
importFrom(mgcv,PredictMat)
#
#################
# METHODS
#################
#
S3method(summary, onebasis)
S3method(summary, crossbasis)
S3method(summary, crosspred)
S3method(summary, crossreduce)
#
S3method(plot, crosspred)
S3method(lines, crosspred)
S3method(points, crosspred)
S3method(plot, crossreduce)
S3method(lines, crossreduce)
S3method(points, crossreduce)
S3method(plot, crossreduce)
#
S3method(coef, crosspred)
S3method(vcov, crosspred)
S3method(coef, crossreduce)
S3method(vcov, crossreduce)
